.header {
  padding: 130px;
  font-family:'Times New Roman', Times, serif;
  font-size: 150%;
  text-align: center;
  color: black;
}
        
.header1 {
  padding: 300px;
  background: grey;
}

.navbar {
  background-color: white;
  padding: 10px;
}
  
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: medium;
}

.navbar a.left {
  float: left;
  font-weight: bolder;
}

  
.navbar a:hover {
  background-color: grey;
  color: white;
}
       

.demo {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 60px;
  gap: 30px;
  width: 1250px;
  height: 600px;
  margin: auto;
}

.grid-box {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  display: block;
  border-radius: 10px;

}

.grid a:hover {
  background-color: grey;
}

.body {
    font-family: Arial;
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }
  

  
  .column {
    width: 90%;
    padding: 50px;
    text-align: left;
    font-size: 25px;
    margin: 1ch auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .column:hover {
    background-color: grey;
    color: white;
  }
  
  .containerTab {
    display: none;
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  
  .closebtn {
    float: right;
    font-size: 35px;
    cursor: pointer;
    color: black;
  }
  
  .container {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .mySlides img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position:absolute;
    top: 50%;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .next {
    right: 0;
  }
  
  
  .slide-column {
    float: left;
    width: 20%;
    padding: 3px;
  }
  
  
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    padding: 10px;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
  }
  
